@model IEnumerable<school_management.Models.Assignments>

<h2>Asignaciones registradas</h2>

<p>
    @Html.ActionLink("Nueva asignación", "Create", "Assignments", new { id = ViewBag.id}, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Valor del curso (%)
        </th>
        <th>
            Estado
        </th>
        <th>
            Acciones
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.assignmentname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coursevalue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assignmentstatus)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
