@model school_management.Models.Teachers
@using school_management.Models 

@{
    ViewBag.Title = "Maestros";
    Users user = (Users)ViewBag.user;
}

<h2>Detalles de maestro</h2>

<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary w" })
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>

        <dd>
            @user.username
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teachername)
        </dd>

        <dt>
            Correo electrónico
        </dt>

        <dd>
            @user.mail
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @if (user.userstatus.Equals("Active"))
            {

                <p>Activo</p>

            }
            else
            {

                <p>Inactivo</p>

            }
        </dd>

    </dl>
</div>

<hr />

@Html.Action("IndexByTeacher", "TeachersEnrolleds", new { id = Model.id})