@model school_management.Models.TeachersEnrolleds

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeachersEnrolleds</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.enrolledstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrolledstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idTeacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTeacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCourse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCourse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
