@model school_management.Models.TeachersEnrolleds

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalle de registro de maestro</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código de maestro
        </dt>

        <dd>
            @ViewBag.teachercode
        </dd>
        <dt>
            Nombre del maestro
        </dt>

        <dd>
            @ViewBag.teachername
        </dd>

        <dt>
            Curso
        </dt>

        <dd>
            @ViewBag.coursename
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrolledstatus)
        </dd>

    </dl>
</div>
<br />
@Html.Action("IndexByCourseAndTeacher", "Inscriptions", new { idCourse = Model.idCourse, idTeacher = Model.idTeacher })