@model IEnumerable<school_management.Models.TeachersEnrolleds>
@using school_management.Models

@{ 
    List<TeachersEnrolledsDetail> teacherEnrolledList = (List<TeachersEnrolledsDetail>)ViewBag.teacherEnrolledList;
}

<h2>Cursos asignados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del curso
        </th>
        <th>
            Estado
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in teacherEnrolledList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.coursename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enrolledstatus)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
