@model school_management.Models.Students
@using school_management.Models

@{
    ViewBag.Title = "Detalles";
    Users user = (Users)ViewBag.user;
}

<h2>Detalles de estudiante</h2>

<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary w" })
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>

        <dd>
            @user.username
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentname)
        </dd>

        <dt>
            Año de curso
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseyear)
        </dd>
        <dt>
            Correo electrónico
        </dt>

        <dd>
            @user.mail
        </dd>
        <dt>
            Estado
        </dt>

        <dd>
            @if (user.userstatus.Equals("Active"))
            {

                <p>Activo</p>

            }
            else
            {

                <p>Inactivo</p>

            }
        </dd>

    </dl>
</div>
<br />
@Html.Action("IndexByStudent", "Inscriptions", new { id = Model.id})