@model IEnumerable<school_management.Models.Students>
@using school_management.Models

@{
    ViewBag.Title = "Estudiantes";
    List<StudentsDetail> studentDetailedList = (List<StudentsDetail>) ViewBag.studentDetailedList;
}

<h2>Estudiantes registrados</h2>

<p>
    @Html.ActionLink("Nuevo estudiante", "Create", "Students", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nombre
        </th>
        <th>
            Año de curso
        </th>
        <th>
            Estado
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (StudentsDetail sd in studentDetailedList) {
    <tr>
        <td>
            @sd.username
        </td>
        <td>
            @sd.studentname
        </td>
        <td>
            @sd.courseyear
        </td>
        <td>
            @sd.userstatus
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=sd.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=sd.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=sd.id })
        </td>
    </tr>
}

</table>
